<!doctype html>
<html lang="en" ng-app="app">

<head>
  <meta charset="utf-8">
  <title>Angularjs course</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-cloak layout="column" ng-controller="RootController as root">
  <md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="root.toggleMenu()" aria-label="Show User List">
      <md-icon>menu</md-icon>
    </md-button>
    <h1>{{ root.title }}</h1>
  </md-toolbar>
  <div flex layout="row">
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" ng-click="root.toggleList()">
      <!-- menu items-->
    </md-sidenav>
    <md-content flex id="content">
      <div ng-controller="PizzeriaController as pizzeriaController">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Pizza choices</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <md-list>
              <md-list-item ng-repeat="pizza in pizzeriaController.pizzas | realPizzasOnly" ng-click="pizzeriaController.onPizzaClick(pizza)">{{ pizza.name }}</md-list-item>
            </md-list>
          </md-card-content>
        </md-card>

        <app-pizza ng-show="pizzeriaController.selectedPizza" pizza="pizzeriaController.selectedPizza"></app-pizza>

        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">New pizza</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <div class="pizza-new">
              <form name="pizzeriaController.newPizzaForm" novalidate ng-model-options="{updateOn: 'default blur',debounce: { default: 500, blur: 0 } }">
                <md-input-container class="md-block">
                  <label>Name</label>
                  <input type="text" name="name" ng-model="newPizza.name" required focus />

                  <div ng-messages="pizzeriaController.newPizzaForm.name.$error" role="alert">
                    <div ng-message="required">Give your pizza a name.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Description</label>
                  <input type="textarea" name="description" ng-model="newPizza.description" required ng-minlength="5" ng-maxlength="50" />
                  <div ng-messages="pizzeriaController.newPizzaForm.description.$error" role="alert">
                    <div ng-message="required">Give your pizza a description.</div>
                    <div ng-message="minlength">Pizza description needs to be at least 5 characters long.</div>
                    <div ng-message="maxlength">Pizza description can't be more than 50 characters long.</div>
                  </div>
                </md-input-container>
                <md-input-container class="md-block">
                  <md-checkbox ng-repeat="ingredient in pizzeriaController.ingredients" ng-model="ingredient.selected" ng-required="pizzeriaController.isAnIngredientSelected()">
                    {{ingredient.name}}
                  </md-checkbox>
                  <div class="md-input-message-animation" ng-show="pizzeriaController.newPizzaForm.$submitted || pizzeriaController.newPizzaForm.ingredients.$touched">
                    <span ng-show="!pizzeriaController.isAnIngredientSelected()">At least one ingredient needs to be selected.</span>
                  </div>
                </md-input-container>
                <md-input-container class="md-block">
                  <md-radio-group ng-model="newPizza.basePrice" required>
                    <md-radio-button value="">--- Please select base price ---</md-radio-button>
                    <md-radio-button value="5"> 5 EUR </md-radio-button>
                    <md-radio-button value="6.5">6.5 EUR</md-radio-button>
                    <md-radio-button value="8">8 EUR</md-radio-button>
                  </md-radio-group>
                  <div ng-messages="pizzeriaController.newPizzaForm.basePrice.$error" role="alert">
                    <div ng-message="required">Give your pizza a base price.</div>
                  </div>
                </md-input-container>
                <md-button type="submit" class="md-raised md-primary" ng-click="pizzeriaController.onAddPizza(newPizza)">Add pizza</md-button>
              </form>
            </div>
          </md-card-content>
        </md-card>
      </div>
    </md-content>
  </div>
  <script src="bundle.js"></script>
</body>

</html>
